{{ header }}
<link href="https://fonts.cdnfonts.com/css/outfit" rel="stylesheet">
<style>
	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		text-align: center;
		background-color: #f1f1f1;
	}

	.card p {
		font-size: 18px;
	}

	@media only screen and (max-width: 680px) {
		.card {
			box-shadow: none;
			background-color: none;
			border: none;
			padding: 10px !important;
		}

	}
</style>

<section class="shopy_by_room separation">
	<div class="container">

		<div class="row">
			<div class="col-md-8">
				<div class="main_text">
					Expert Fabric Care
					<span style="color: #5d5443;">Services</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="text2">
					Tailored services for every fabric.
				</div>
				<div class="mob_center" style="margin-top: 30px;">
					<a class="text_btn " href="index.php?route=information/contact">
						<span class="elementor-button-content-wrapper">
							<span class="elementor-button-text" style="    text-transform: uppercase;">Schedule free
								pick up</span>
						</span>
					</a>
				</div>

			</div>
		</div>

	</div>
</section>
<section class="shopy_by_room separation">
	<img src="image/pe/b1.png" style="width:100%;">
</section>
<!-- hero slider area start -->
<section class="shopy_by_room separation">
	<div class="container">

		<div class="row" style="justify-content: space-between;">
			<div class="col-md-10 mob_center">
				<div class="mt-4">
					<a class="text_btn1 " href="index.php?route=information/contact">
						<span class="elementor-button-content-wrapper">
							<span class="elementor-button-text">Our Policy</span>
						</span>
					</a>
				</div>
				<div class="main_text1 mob_center" style="margin-top: 30px;">
					A message to our customers...</div>
			</div>
			<div class="col-md-12 pt-3">
				<div class="card " style="padding:50px;">
					<h3 class=" " style="text-align: start;">Fabcare</h3>
					<hr>
					<p style="text-align: start;">• Express delivery would be charged 50% extra over the regular
						tariff.<br>
						• Customers are requested to examine the articles at the time of delivery; we would not be held
						responsible for any damages that are found after delivery of processed articles<br>
						• If not satisfied with the quality of any service offered, customers should get in touch with
						the store or the company within 24 hours for resolution<br>
						• Get free re-processing in case of processing quality issue.<br>
						• FABCARE is not responsible for fastness, colour bleed, colour running, shrinkage, damages to
						embellishments or embroidery work on the articles during processing.<br>
						• Every effort is made to remove stains, but will not be responsible for stubborn and
						un-removable stains.<br>
						• We follow a “No Claim” policy. All articles are accepted at customers’ risk. <br>
						• We shall not be held responsible for:<br>
						&nbsp;&nbsp; o Damage to articles that cannot withstand the normal cleaning or dry-cleaning process. <br>
						&nbsp;&nbsp; o Damaged due to the ageing process of inferior quality of clothes.<br>
						&nbsp;&nbsp; o Any ornaments or jewellery fittings on your clothes getting damaged during the processing.<br>
						• Shrinkage, damage, cuts, holes, scratches, stains etc. becoming apparent during the wash
						process due to defective manufacturing, adulteration, deterioration, wear & tear, and exposure
						to environment.<br>
						• We will undertake the cleaning of the garments, in the best possible manner that our
						technicians deem fit. The various cleaning methods deployed by us will vary from Wash in
						Emulsifier, Detergent and Softeners, Soft wash for delicate garments, Technologies like Hydro
						Carbon.<br>
						• Every effort is made to deliver clothes on time, however due to certain unforeseen
						circumstances, if the delivery is delayed, customer cannot claim any compensation, refunds or
						any reduction in charges.<br>
						• We would not take any responsibility / Liability for:<br>
						&nbsp;&nbsp;o Clothes beyond 15 days of the scheduled delivery date.<br>
						&nbsp;&nbsp;o Any loss or damage to clothes arising due to fire, burglary etc. which are beyond our control
						   or similar incidences.<br>
						   &nbsp;&nbsp;o Valuables/article/cash, etc. inadvertently kept in the articles which is mutilated or
						unrecoverable after processing.<br>
						• Price List – Rates mentioned are indicative and may vary depending on the complexity of the
						garments.<br>
						• Compensation for any damaged article would be limited to 10 times the value of the charges
						specified to the customer for the processing or INR 3000, whichever is lower. In case of refund,
						the item under dispute will be confiscated by the company.<br>
						• All disputes are subject to the jurisdiction of courts in Uttar Pradesh only.<br>
						• We may use the images of clothes for promotional purposes.<br>
						• Our prices may vary from store to store and city to city.<br>
						• FABCARE reserves the rights to cancel/modify/change the terms and conditions at any point in
						time without any prior intimation or notice.<br>
						• For any queries, contact our customer care at 9873838000.
						<br>
					</p>
					<div class="d-none">
						<h3 class=" mt-3" style="text-align: start;">TumbleDry</h3>
						<hr>
						<p style="text-align: start;">
							• Laundry deliveries will be made in 72 Hours.<br>
							• The Dry Cleaning garments will be delivered in 120 Hours.<br>
							• Urgent delivery of garments will be charged @ 100 % Extra.<br>
							• For Free Pick up & Delivery, laundry orders should be of 6 KG or more.<br>
							• Every effort is made to deliver clothes on time, however due to certain unforeseen
							circumstances, if the delivery is delayed, we will keep you updated about the delivery
							times.<br>
							• Customers are requested to examine garments at the time of delivery.<br>
							• We are not responsible for fastness / running of colour / shrinkage / damage to
							embellishments
							/ embroidery work on the garments during process.<br>
							• Every effort is made to remove stains, but Tumbledry Solutions Pvt Ltd, will not be
							responsible for stubborn and un-removable stains<br>
							• All articles are accepted at customers’ risk.<br>
							• Please note that we will not be responsible for the upkeep of the garments, if the
							garments
							are not collected within 15 days from the date of scheduled delivery.<br>
							• We accept no liability for any loss or damage of the clothes arising due to fire, burglary
							etc.<br>
							• The tariff of garments will be decided on a case to case basis depending on the complexity
							of
							the garments. The rates mentioned in the price list are indicative and minimal.<br>
							• We will undertake the cleaning of the garments, in the best possible manner that our
							technicians deem fit. The various cleaning methods deployed by us will vary from Wash in
							Emulsifier, Detergent and Softeners, Soft wash for delicate garments, Technologies like
							Percloroethylene, Hydro Carbon.<br>
							• We are digitally active on all the social media platforms.<br>
							• All disputes are subject to the jurisdiction of Courts in Delhi only.<br>
							• We may use the images of your clothes for promotional purposes.<br>
							• Our prices may vary from store to store and city to city<br>

						</p>
						<h3 class=" mt-3" style="text-align: start;">Guaranteed Cloth Protection Program</h3>
						<hr>
						<p style="text-align: start;">
							• Guaranteed Cloth Protection Program protects customers against any damage/loss during the
							processing of item. <br>
							• Get up to 10 times of order value of item as a refund in case of any damage or loss of
							article. In case of refund, the item under dispute will be confiscated by the company.<br>
							• Get free re-processing in case of processing quality issue.<br>
							• As a promotional offer, this protection program is at zero cost for our customers.
							However, it
							is applicable only for the orders for which payment is made through the Tumbledry mobile
							app.<br>
							• Order value of item refers to the processing cost for the item after discount as per the
							Tumbledry Invoice.<br>
							• Customers are requested to examine garments at the time of delivery. All damages, loss or
							quality issue must be reported within 7 Days of delivery. Any complaints received after 7
							days
							of delivery will be null and void and will not be covered under this program.<br>
							• All disputes are subject to the jurisdiction of Courts in Delhi only.<br>
							• For any queries, contact our customer care at 8080809334.


						</p>
						<h3 class=" mt-3" style="text-align: start;">UClean</h3>
						<hr>
						<p style="text-align: start;">
							• Ensure to take original bill or challan copy after due delivery of articles to be
							processed.<br>
							• Original bill or challan copy needs to be presented at the time of delivery of processed
							articles.<br>
							• If original bill or challan is lost or could not be produced at the time of delivery, the
							delivery of processed article shall be made to the owner only after verifying his/her
							credential.<br>
							• Express/Urgent delivery of articles would be charged 50% extra over the regular
							tariff.<br>
							• Customers are requested to examine the articles at the time of delivery; we would not be
							held
							responsible for any damages that are found after delivery of processed articles<br>
							• If not satisfied with the quality of any service offered, customers should get in touch
							with
							the store or the company within 24 hours for resolution<br>
							• We are not responsible for fastness, colour bleed, colour running, shrinkage, damages to
							embellishments or embroidery work on the articles during processing<br>
							• At UClean, we would be putting in our best efforts to remove any stains or unwanted marks
							on
							the clothes; however we cannot guarantee 100% removal of stains or marks. Customers will
							have no
							claim whatsoever or no rights to ask for deduction in processing charges on account of
							this.<br>
							• We follow a “No Claim” policy. All articles are accepted at customers’ risk. We shall not
							be
							held responsible for damage to articles that cannot withstand the normal cleaning or dry
							cleaning process. We shall not be held responsible for articles that are damaged due to the
							ageing process of inferior quality of clothes.<br>
							• We shall not be held responsible for any ornaments or jewellery fittings on your clothes
							getting damaged during the processing.<br>
							• We shall not be held responsible for shrinkage, damage, cuts, holes, scratches, stains
							etc.
							becoming apparent during the wash process due to defective manufacturing, adulteration,
							deterioration, wear & tear, and exposure to environment.<br>
							• We put in our best efforts to ensure timely pick-up and delivery; however there might be
							incidents beyond our control or incidences of Force Majeure where we are unable to stick to
							the
							timelines. In such cases, customer cannot claim any compensation, refunds or any reduction
							in
							charges.<br>
							• We would not take any responsibility for the clothes of the customer beyond 3 (three)weeks
							of
							the scheduled delivery date.<br>
							• We accept no liability for any loss or damage to clothes arising due to fire, burglary
							etc.
							which are beyond our control or similar incidences.<br>
							• We would not take any responsibility for valuables/article/cash, etc. inadvertently kept
							in
							the articles which is mutilated or unrecoverable after processing.<br>
							• Tariff for designer wear, high-end fabric based clothes or complex article pieces would be
							decided on a case-to-case basis. This pricing would be communicated to the customer directly
							at
							the store once the article has been examined by the experts present at the stores.<br>
							• In case any piece of article or linen gets damaged during the processing for any reasons
							other
							than the ones outlined above, the compensation for the customer would be limited to 10 times
							the
							value of the charges specified to the customer for the processing or INR 3000, whichever is
							lower.<br>
							• All disputes are subject to the jurisdiction of courts in Delhi only.<br>
							• UConcepts Solutions LLP reserves the rights to cancel/modify/change the terms and
							conditions
							at any point in time without any prior intimation or notice.


						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="shopy_by_room separation">
	<div class="container">
		<div class="row justify-content-center align-content-center">
			<div class="col-md-12" style="max-width: 70%;">
				<div class="main_text">Quick. Fast. Reliable.</div>
			</div>
			<div class="col-md-12 text-center mt-3" style="max-width: 70%;">
				<div class="text2">
					We deliver your items cleaned within 24 hours and at the time required.</div>
				<div style="margin-top: 30px;">
					<a class="text_btn " href="index.php?route=information/contact">
						<span class="elementor-button-content-wrapper">
							<span class="elementor-button-text">Order now</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>{{ column_right }}<!-- News -->
<script>
	var swiper = new Swiper(".topSwiper1", {
		pagination: {
			el: ".top-swiper-pagination",
			clickable: true
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev"
		},
		autoplay: false,
		// Default parameters
		slidesPerView: 4,
		spaceBetween: 10,
		// Responsive breakpoints
		breakpoints: { // when window width is >= 320px
			320: {
				slidesPerView: 1,
				spaceBetween: 20
			},
			// when window width is >= 480px
			480: {
				slidesPerView: 1,
				spaceBetween: 30
			},
			// when window width is >= 640px
			640: {
				slidesPerView: 4,
				spaceBetween: 40
			}
		}
	});

	var swiper = new Swiper(".topSwiper", {
		pagination: {
			el: ".top-swiper-pagination",
			clickable: true
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev"
		},
		autoplay: 5000,
		// Default parameters
		slidesPerView: 3,
		spaceBetween: 10,
		// Responsive breakpoints
		breakpoints: { // when window width is >= 320px
			320: {
				slidesPerView: 1,
				spaceBetween: 20
			},
			// when window width is >= 480px
			480: {
				slidesPerView: 1,
				spaceBetween: 30
			},
			// when window width is >= 640px
			640: {
				slidesPerView: 3,
				spaceBetween: 40
			}
		}
	});</script>{{ footer }}