<div id="search1" class="input-group">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-input form-control input-lg" autocomplete="off" data-toggle="dropdown"/>
	
	<span class="input-group-btn">
		<button type="button" class="btn btn-default btn-lg search-btn">
			<i class="pe-7s-search"></i>
		</button>
	</span>
</div>




