{{ header }}
<!-- breadcrumb area start -->

<!-- breadcrumb area end -->
<div class="container"> <!-- contact area start -->
	<div class="contact-area section-padding pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="contact-message">
						<h4 class="contact-title new-font" style="color: black; font-family: 'newfont', sans-serif">
							Tell Us Your Requirement
						</h4>
						<br>
						<form action="index.php?route=information/contact" method="post" class="contact-form">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="first_name" placeholder="Name *" type="text" required />
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="phone" placeholder="Phone *" type="tel" required />
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="email_address" placeholder="Email" type="email" />
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6">
									<input name="contact_subject" placeholder="Subject *" type="text" />
								</div>
								<div class="col-12">
									<div class="contact2-textarea text-center">
										<textarea placeholder="Message" name="message"
											class="form-control2"></textarea>
									</div>
									<div class="contact-btn">
										<button class="btn btn-sqr" type="submit"
											style="background-color:#5d5443;border-radius: 100px;">
											<a style="color: white">Send Message</a>
										</button>
									</div>
								</div>
								<div class="col-12 d-flex justify-content-center">
									<p class="form-messege"></p>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contact-info">
						<h2 class="contact-title new-font"
							style="line-height: 1.5;font-weight: 600;color: black; font-family: 'newfont', sans-serif;">
							Contact Us
						</h2>
						<p class="new-font">
							Need to get in touch with us? Fill out the
							form with your inquiry .
						</p>
						<ul>

							<li>
								<i class="fa fa-fax"></i>
								<p class="new-font pb-1">
									<span style="font-weight: 600;">Address:</span>
									Fabcare (India) Private Limited
									90/5, 90/6, 90/4, Road No. 7, Mundka Industrial Area, New Delhi - 110041, Delhi,
									India
								</p>
							</li>
							<li>
								<i class="fa fa-envelope-o"></i>
								<p class="new-font pb-1">
									<span style="font-weight: 600;">Email:</span>
									hello@fabcarelive.com
								</p>
							</li>
							<li>
								<i class="fa fa-whatsapp" aria-hidden="true"></i>
								<p class="new-font pb-1">
									<span style="font-weight: 600;">Customer Care:</span>
									+91-98738 38000
								</p>
							</li>
						</ul>
					</div>
				</div>

				<br><br>
				<div class="col-md-12 mt-5 pb-4" >
					<h4 style="font-weight: 600;">Store locator:</h4> 
				</div>
				<div class="col-md-4 text-center">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.02291927857!2d77.37848007607369!3d28.569074475699555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cef25cf1dec1b%3A0xd9d168883ed052e6!2sFabcare!5e0!3m2!1sen!2sin!4v1705664703083!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					<h6 class="mt-4">
						Shop No. 04, Ground Floor
						Street - 76, Sector-76
						Behind Amrapali Silicon City
						Noida - 201303</h6>
				</div>
				<div class="col-md-4 text-center">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7005.28938180706!2d77.42282324560752!3d28.610434152707146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cef610e084a49%3A0x2fd3a51805eec1c3!2sFabcare!5e0!3m2!1sen!2sin!4v1705664754702!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					<h6 class="mt-4">
						Shop No. 22, AIG Park Avenue
						Gaur City - 1, Greater Noida (West) - 201009</h6>
				</div>
				<div class="col-md-4 text-center">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.3705075602797!2d77.36534827607616!3d28.648622875656013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfaaff16fe0fd%3A0x5077ba1f252b1c35!2s10%2C%20Gd%20Goenka%20Public%20School%2C%20Indirapuram%2C%206%2C%20Vaibhav%20Khand%2C%20Indirapuram%2C%20Ghaziabad%2C%20Uttar%20Pradesh%20201014!5e0!3m2!1sen!2sin!4v1705664850478!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					<h6 class="mt-4">
						Shop No 10 & 11, Upper Ground Floor,
Express Market, 6 Vaibhav Khand
Indirapuram, Ghaziabad - 201014</h6>
				</div>
			</div>
		</div>
	</div>
	<!-- contact area end -->
	<br /><br />
</div>
{{ footer }}